[Desktop Entry]
Name=ULX Notebook Monitor
Comment=Monitor de Sistema Nativo ULX/LNX
Exec=konsole --hold -e ulx-notebook-monitor
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Monitor;
Keywords=system;monitor;ulx;lnx;
